{% extends "base.html" %}

{% block title %}ATL - Tours{% endblock %}

{% block content %}


{% if tourid is not defined %}
<form action="tours" method="POST" class="needs-validation" novalidate>
    <div>
<label for="tourlist">Select the tour to display</label>
<select class="form-select" name="tourid" id="tourid" required>
    <option disabled selected value="">Choose a tour</option>
    {% for tour in tours %}
        <option value="{{tour['tourid']}}">{{tour['tourname']}}</option>
    {% endfor %}

</select>
<div class="invalid-feedback">
    Please choose a tour.
  </div>
</div>
<button class="btn btn-primary" type="submit">Select Tour Group</button>
</form>

{% else %}

<form action="tours/list" method="POST" class="needs-validation" novalidate>
    <input type="hidden" name="tourid" value="{{tourid}}"/>
    <div>
        <label for="tourgroup">Select the tour group to display</label>
        <select class="form-select" name="tourgroupid" id="tourgroupid" required>
            <option disabled selected value="">Choose a tour group</option>
            {% for tour in tourgroups %}
                {{tour}}
                <option name="tourgroupid" value="{{tour['tourgroupid']}}">{{tour['startdate']}}</option>
            {% endfor %}
        
        </select>
        <div class="invalid-feedback">
            Please choose a tour group.
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Show Customers on Tour</button>
</form>


{% endif %}


{% endblock %}